/*login*/
.login {
  display: flex;
  padding: 20px;
  flex: 1;
  justify-content: center;
}

form {
  height: 520px;
  width: 400px;
  background-color: rgba(246, 246, 246, 0.13);
  position: absolute;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 50px 35px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
form * {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(158, 152, 148, 0.13);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #a9a6a5;
}
.b1 {
  margin-top: 20px;
  width: 100%;
  background-color: #f2b6a2;
  color: #d83e14;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.b2 {
  margin-top: 10px;
  width: 100%;
  background-color: #f2b6a2;
  color: #d83e14;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/*nav bar&footer*/
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.home {
  justify-content: start;
}

.logsign {
  justify-content: end;
}

.logo {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #ff7254;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

footer {
  background-color: #555;
}
